.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
tests
docs
*.md
.phpunit.cache
.idea
.vscode
